---
import { siteConfig } from '../data/site.config'
import InstagramIconColor  from './icons/InstagramIconColor.astro'
import LinkedinColorIcon from './icons/LinkedinColorIcon.astro'
const message = siteConfig.shareMessage

const URL = Astro.url.href
---

<div class='flex flex-col gap-2'>
	<span class='mb-1 font-bold text-2xl'>Bagikan</span>
	<ul class='flex gap-3 text-black dark:text-white'>
		

		<li>
			<a href={`https://www.instagram.com/share?text=${message + ' ' + URL}`}>
				<InstagramIconColor />
			</a>
		</li>
		<li>
			<a
				href={`https://www.linkedin.com/shareArticle?mini=true&url=${URL}`}
				aria-label='Share on LinkedIn'
			>
				<LinkedinColorIcon /></a
			>
		</li>
	</ul>
</div>
